body {
    background-color: black;
    color: azure;
    text-indent: 1vw;
    font-family: Arial, Helvetica, sans-serif;
}

#hope_line {
    margin-inline-start: 0vw;
}

#main_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vw;
}

#main_top_div {
    line-height: 0.7;
}

#sub_head {
    align-content: center;
}